.foot{
	width:100%;
	height: 80px;
	background-color: #262323;
}
.foot p{
	color: #bfb5b5;
	margin:0 auto;
	padding-top: 40px;
	text-align: center;
	width: 50%;
}
.head{
	height: 100px;
	background-image: linear-gradient(to right,#2f2d2d,#d1cbcb);
	width: 100%;
	font-size: 25px;
}
.head #head-title{
	float:right;
	width:50%;
	height: 100%;
}
.head #head-title li{
	float:right;
	padding: 30px;
}
.head #head-title li a{
	color: #2f2d2d;
}
.head #head-logo{
	float:left;
	width:20%;
	height: 100%;
	background-image: url(../imgs/logo.png);
	background-repeat: no-repeat;
	background-position: center;
	margin-left: 50px;
}
.content{
	width: 100%;
	background: #3c3c38;
	overflow: hidden;
	height: 1500px;
}
.content-title-box{
	width: 100%;
	height: 50px;
	background-image: linear-gradient(to bottom,#5c5959,#2f2d2d);
	
}
.content-title-box .content-title{
	width: 60%;
	height: 100%;
	padding-left: 60px;
}
.content-title-box .content-title li{
	float: left;
	height: 100%;
	padding-left: 80px;
}
.content-title-box .content-title li a{
	display: inline-block;
	padding-top: 15px;
	text-align: center;
	color: #c1bcbc;
	font-size: 20px;

}
.content-title-box .content-title li a:hover{
	color: #ebe9e9;
}
.pic-txt-box{
	margin-top: 20px;
	width: 100%;
	height:280px;
	background: #292626;
}
.pic-txt-box .pic-txt-box2{
    width: 80%;
    height: 100%;
    margin: 0 auto;
}
.pic-txt-box .pic-txt-box2 .pic-box{
	width: 50%;
	height: 100%;
	overflow: hidden;
	background-size: cover;
	background-position: center;
	/*background: url(../imgs/1.jpg);*/
	float: left;
}
.pic-txt-box .pic-txt-box2 .txt-box{
	width: 50%;
	height: 100%;
	float: right;
}
.pic-txt-box .pic-txt-box2 .txt-box li{
	width: 100%;
	z-index: 9;
	height: 50px;
	background-image:  linear-gradient(to left,#5c5959,#2f2d2d);
	margin-top:5px;
}
.pic-txt-box .pic-txt-box2 .txt-box .trangle{
    display: inline-block;
    position: absolute;
    width: 35px;
    height: 35px;
    margin-top:12px;
    background: #12919c;
    transform:translate(-18px) rotate(-45deg);
}
.pic-txt-box .pic-txt-box2 .txt-box li:hover{
    background-image:  linear-gradient(to left,#5c5959,#12919c);

 }   
.pic-txt-box .pic-txt-box2 .txt-box li a{
	display: inline-block;
	width: 100%;
	height: 100%;
	color: #c6c2c2;
	line-height: 50px;
	padding-left: 30px;
}
.pic-txt-box .pic-txt-box2 .txt-box li a:hover{
	color:#ebe9e9;
	font-size: 20px;
}
.content-box{
	width: 80%;
	margin: 10px auto;
}
.content-box .content-left{
	width: 65%;
	float: left;
	background: #4a4a48;
	margin-top: 20px;
	box-shadow: 4px 4px 6px #292626; 
}
.content-box .content-left h1{
	width: 100%;
	height: 50px;
	background: linear-gradient(to left,#001c1f,#5c5959);
	font-size: 30px;
}
.content-box .content-left h1 .font{
	display: inline-block;
	position: relative;
	top: -14px;
	width: 80%;
    height: 50px;
	color: #12919c;
}
.content-box .content-left h1 .zheng{
	display: inline-block;
	width: 50px;
	height: 50px;
	background: #12919c;
}
.content-box .content-left h1 .san{
	display: inline-block;
	position: relative;
	width: 35px;
	height: 35px;
	background: #12919c;
	top: 10px;
	transform: rotate(45deg) translate(-24px);
}
.content-box .content-left .img-box{
	width: 200px;
	height: 200px;
	float: left;
	overflow: hidden;
	margin-top:30px;
	margin-left: 50px;
	margin-bottom: 30px;
	border: 8px solid #3c3c38;
}
.content-box .content-left p{
	float: right;
	width: 50%;
	line-height: 2em;
	margin-right: 20px;
	margin-top: 30px;
	color: #c1bcbc;

}
.content-box .content-right{
    float: right;
    width: 30%;
    margin-top: 20px;
}
.content-box .content-right .search-box{
	width: 100%;
	height: 150px;
	background: #333;
	box-shadow: 4px 4px 6px #292626; 
}
.content-box .content-right .search-box .search{
	width: 100%;
	height: 50px;
	background:#292626;
}
.content-box .content-right .search-box .search span{
	color: #12919c;
	line-height: 50px;
	padding-left:20px;
	font-size: 25px;
}
.content-box .content-right .search-box .searching{
	display: block;
	float: left;
	width: 80%;
	height: 30%;
	margin-top: 20px;
	background: #4a4a48;
	border-style: none;
}
.content-box .content-right .search-box .submit{
	float: right;
	width: 50px;
	height: 45px;
	border-style: none;
	margin-top: 20px;
	color:#12919c;
	background: #4a4a48;

}
.content-box .content-right .blog-list-box{
	width: 100%;
	margin-top: 20px;
	background: #333;
	box-shadow: 4px 4px 6px #292626; 
}
.content-box .content-right .blog-list-box .blog-list-title{
	width: 100%;
	height: 50px;
	background:#292626;
}
.content-box .content-right .blog-list-box .blog-list-title span{
	color: #12919c;
	line-height: 50px;
	padding-left:20px;
	font-size: 25px;
}
.content-box .content-right .blog-list-box .blog-list li{
    width: 100%;
    height: 40px;
    border-bottom:1px solid #5d5c5c;
}
.content-box .content-right .blog-list-box .blog-list li a{
	color: #c1bcbc;
	line-height: 40px;
	width: 100%;
	height: 100%;
	padding-left: 10px;
}
.content-box .content-right .blog-list-box .blog-list li i{
	line-height: 40px;
}
.content-box .content-right .blog-list-box .blog-list li:hover{
    color:#12919c;
	background-image:  linear-gradient(to left,#5c5959,#12919c);
}
.resume{
	width: 100%;
	font-family: "impact";
	background: #333;
	margin-top: 30px;
	color: #c1bcbc;
	height: 50px;
	text-align: center;
	line-height: 50px;
	box-shadow: 4px 4px 6px #292626; 
	font-size: 25px;
}
.resume:hover{
	background: #12919c;
	color: #ec7713;
	cursor: pointer;
}
