.foot{
	width:100%;
	height: 80px;
	background-color: #262323;
}
.foot p{
	color: #bfb5b5;
	margin:0 auto;
	padding-top: 40px;
	text-align: center;
	width: 50%;
}
.head{
	height: 100px;
	background-image: linear-gradient(to right,#2f2d2d,#d1cbcb);
	width: 100%;
	font-size: 25px;
}
.head #head-title{
	float:right;
	width:50%;
	height: 100%;
}
.head #head-title li{
	float:right;
	padding: 30px;
}
.head #head-logo{
	float:left;
	width:20%;
	height: 100%;
	background-image: url(../imgs/logo.png);
	background-repeat: no-repeat;
	background-position: center;
	margin-left: 50px;
}
.content{
	width: 100%;
	height: 800px;
	background: #4e4e4a;
}