.resume-content{
	width: 100%;
	height: 1200px;
	background: #3c3c38;
}
.resume-content .resume-box{
	width: 80%;
	height: 100%;
	background: #eee;
	margin: 0 auto;
}
.resume-content .resume-box .title-box{
	width: 100%;
	height: 200px;

}
.resume-content .resume-box .title-box .name{
	float: left;
	width: 50%;
	height: 100%;
}
.resume-content .resume-box .title-box .name span{
	font-family: "微软雅黑";
	font-weight: bolder;
	display: block;
	width: 50%;
	margin: 0 auto;
	margin-top: 80px;
    color: #b22c06;
	font-size: 65px;
}
.resume-content .resume-box .title-box .name em{
	font-family: "微软雅黑";
	font-weight: bolder;
	display: block;
	width: 50%;
	margin: 0 auto;
    color: #b22c06;
}
.resume-content .resume-box .title-box .resume-logo{
	float: right;
	width: 50%;
	height: 100%;
}
.resume-content .resume-box .title-box .resume-logo span{
	display: block;
	font-family: "impact";
	font-size: 65px;
	width: 100%;
	margin: 0 auto;
	margin-top: 120px;
	color: #082b00;
}
.resume-content .resume-box #line-box{
	width: 100%;
	height: 30px;
}
.resume-content .resume-box #line-box .red{
	float: left;
	width: 50%;
	height: 100%;
	background: #b22c06;
}
.resume-content .resume-box #line-box .green{
	float: right;
	width: 50%;
	height: 100%;
	background: #082b00;
}
.resume-content .resume-box #person-desc{
	width: 100%;
	height: 270px;
}
.resume-content .resume-box #person-desc .desc{
	float: left;
	width: 50%;
	height: 100%;
}
.resume-content .resume-box #person-desc .desc li{
	padding-left: 135px;
	font-size: 20px;
	padding-top: 20px;
	color: #082b00;
}
.resume-content .resume-box #person-desc .pic-box{
	width: 50%;
	float: right;
	height: 100%;
}
.resume-content .resume-box #person-desc .pic-box .pic{
	width: 200px;
	height: 200px;
	border-radius: 100px;
	margin: 0 auto;
	margin-top: 35px;
	background: url(../imgs/resume.jpg);
}

.resume-content .resume-box #education{
	width: 100%;
	height: 50px;
}
.resume-content .resume-box #education .font-icon{
	float: left;
	width: 50px;
	height: 50px;
	font-size: 40px;
	color: #b22c06;
	padding-left: 120px;
}
.resume-content .resume-box #education .edu-line{
	float: left;
	width: 80%;
}
.resume-content .resume-box #education .edu-line .hr{
	width: 100%;
	height: 2px;
	background: #b22c06;
}
.resume-content .resume-box #education .edu-line span{
	display: inline-block;
	height: 30px;
	font-weight: bold;
	font-size: 25px;
	margin: 8px 20px;
	color: #b22c06;
}